@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3 class="text-danger">Unfortunately, your login did not complete properly.</h3>
</hgroup>
<p>Please try to login again.</p>
<hr />
@Html.Partial("_ExternalLoginsListPartial")
