@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OAuth2 Demo</h1>
    <p class="lead">Welcome to the CompliaShield OAuth2 demo. Any application can enable secure accounts &amp; HIPAA ready solutions with CompliaShield's platform as a service solutions.</p>
    <p><a href="@Url.Action("Index", "OAuthTest")" class="btn btn-primary btn-lg">See it work &raquo;</a></p>
</div>
